
  
.headerContentInnerGrid{
  height: 100%;
  width:100%;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: ". . . socialLogo" ". . . ." " . . . ." "nav nav nav nav";

}




.nav-container{
  grid-area: nav;
  

}

.navbar{
  display: flex;
  justify-content: space-evenly;

  /* inherited  */
  list-style-type: none;
  margin-block-start: none;
  margin-block-end: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.socialButtons{
  display: flex;
  grid-area: socialLogo;
}

/* first media 680*/

 